
SampleRotateProject.xcodeproj/project.xcworkspace/contents.xcworkspacedata

SampleRotateProject.xcodeproj/project.xcworkspace/xcuserdata/sassembla.xcuserdatad/UserInterfaceState.xcuserstate

SampleRotateProject.xcodeproj/xcuserdata/sassembla.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

SampleRotateProject.xcodeproj/xcuserdata/sassembla.xcuserdatad/xcschemes/SampleRotateProject.xcscheme

SampleRotateProject.xcodeproj/xcuserdata/sassembla.xcuserdatad/xcschemes/xcschememanagement.plist
